header {

  /* position: fixed; */
  top: 0; right: 0; left: 0;
}


main {
  background-color: #eef;
}
main article {
  height: calc(100vh - 2.7rem);
}
main article:nth-child(odd) {
  background-color: #ccc;
}

footer {
  background-color: #efe;
}
